.main-banner {
  background-color: #00dbf8;
  border-radius: 8px 8px 0 0;
  margin: 16px 0 0;
  padding: 16px;
  width: 100vw;
}

.main-banner__title {
  color: #fff;
  margin: 8px auto 8px 0;
}

.main-banner__btn {
  background-color: #00dbf8;
  border: 2px solid #3e3e3e;
  border-radius: 16px;
  color: #3e3e3e;
  font-weight: bold;
  margin: 16px auto;
  padding: 4px 8px;
}