.card {
  background-color: #3e3e3e;
  border-radius: 8px;
  margin: 8px;
  padding: 16px;
}

.card__title {
  color: #00dbf8;
  font-weight: bold;
  margin: 0 auto;
}

.card__description {
  color: #fff;
}